<div class="layout-topbar">
  <div class="topbar-start">
    <button type="button" class="topbar-menubutton p-link p-trigger">
      <i class="pi pi-bars"></i>
    </button>

    <div class="topbar-breadcrumb">
      <nav class="layout-breadcrumb">
        <ol>
          <li class="ng-star-inserted">Taskify Dashboard</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="topbar-end">
    <ul class="topbar-menu">
      <li class="topbar-search">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" class="p-inputtext p-component p-element w-12rem sm:w-full">
        </span>
      </li>
      <li class="ml-3">
        <button pbutton="" type="button" icon="pi pi-cog" class="p-element p-button-text p-button-secondary p-button-rounded flex-shrink-0 p-button p-component p-button-icon-only">
          <span class="p-button-icon pi pi-cog" aria-hidden="true">
          </span>
        </button>
      </li>
      <li class="topbar-profile">
        <button type="button" class="p-link">
          <img src="assets/images/avatar.png" alt="Profile">
        </button>
      </li>
    </ul>
  </div>
</div>
